/* Fonts for the project */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Some variables */
:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #242d49a6;
  --profileShadow: 0px 4px 17px 2px #00000040;
  --hrColor: #cfcdcd;
  --cardColor: #ffffffa3;
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: #28343e12;
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --shedule: #e1ae4a;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
}

.App {
  background-color: #e3e0e0;
  width: 100vw;
  overflow: hidden;
}

.blur {
  background-color: #abf8de;
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  filter: blur(80px);
}
